# Ignore Python cache files
__pycache__/
*.pyc
# Ignore log files
*.log
# Ignore IDE/editor settings
*.idea/
*.vscode/
# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
# Ignore virtual environment folder
venv/
# Ignore environment variable files
.env
# Ignore data folders
data/raw/
data/processed/
